.grid-parent{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-areas:
    "aside header header section1"
    "aside article1 article2 section2"
    "aside article3 article4 section2"
    "footer footer footer footer";
    grid-gap: 20px;
}
.grid-items1{
    grid-area: header;
    background-color: #538053;
}
.grid-items2{
    grid-area: aside;
    background-color: rgb(255, 228, 196);
}
.grid-items3{
    grid-area: section1;
    background-color: rgb(195, 165, 223);
}
.grid-items4{
    grid-area: article1;
    background-color: aquamarine;
}
.grid-items5{
    grid-area: article2;
    background-color: rgb(167, 118, 118);
}
.grid-items6{
    grid-area: article3;
    background-color: rgb(92, 67, 92);
}
.grid-items7{
    grid-area: article4;
    background-color: rgb(230, 184, 98);
}
.grid-items8{
    grid-area: section2;
    background-color: rgb(118, 114, 148);
}
.grid-items9{
    grid-area: footer;
    background-color: aquamarine;
}